.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #282c34;
    color: white;
}
.logo {
    margin-top: 1%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}
